<div class="list-header">
    <h1 class="list-title"><%= @list.title %></h1>
    <%= render "lists/options" %>
</div>

<section class="task-list">
    <%= render "tasks/form", list: @list, task: @task %>

    <%= render @list.tasks.reverse %>
</section>

<%= button_to "Delete List", list_path(@list), method: :delete, 
    form: {data: {turbo_confirm: "Are you sure? You will lose all tasks."}}, 
    class: "delete-list" %>
